/* Add CSS Styling */

.odd-number {
    background-color: rgba(224, 74, 116, 0.538);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cooler-style {
    font-size: 24px;
}

#second-element {
    color: blue;
    font-size: 36px;
}

#fourth-element {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}